/* ----------navbar + slider ---------------*/
#top{
    background-image: url("../images/meeting_banner_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*----------------------- navbar------------------ */
.navbar-custom{
    background-color: rgba(0, 193, 252, 0.377);
    border-radius: 0;
    padding: 0.5em;
}

.nav li a:focus,.nav li a:hover, .nav li a:active{
    background-color: rgba(0, 193, 252, 0.377);
    font-size: 1.1em;
    font-weight: 600;
    
}
.nav li a, .navbar-brand{
    color: white;
}

/*------------- slider------------- */
.content{
    padding: 3em;
}


.item div, .item-testimonial{
    padding: 1em;
    
}

.item, .item-testimonial{
    display: none;
}

.item img{
    width:20em;
    height:20em;
    border:solid 0.4em  rgb(48, 111, 131);
    
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    float: right;
}

.prev{
    float: left;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 193, 252, 0.677);
}

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(179, 237, 255);
    border: solid 0.1em white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgba(0, 193, 252, 0.677);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.item .row{
    padding: 5em;
    color: rgb(222, 250, 252);
    font-weight: 600;
}

.back-tint{
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1em;
}
.back-tint-about, .back-tint-services{
    background-color:rgba(0, 0, 0, 0.5);
    padding:0;
}

.btn-info{
    background-color:rgb(1, 106, 138);
}

.hamburger{
    border:solid 0.2em white;
}

/* ------------portfolio--------------- */
/* Fading animation */


@-webkit-keyframes fade-portfolio {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fade-portfolio {
    from {opacity: 0}
    to {opacity: 1}
}


#company1{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company2{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company3{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company4{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company5{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company6{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company7{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
#company8{
    background-image: url("../images/email_marketing_banner_inset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
}
.portfolio-wrapper table td{
    border: white solid 1em;
    text-align: center;
    align-content: center;
    
}

.portfolio-wrapper h1{
    color: rgb(1, 94, 122);
    font-weight: 700;
    margin-bottom: 1em;
}

.portfolio-item h1{
     color: rgb(126, 222, 252);
}

.portfolio-item{
    background-color: rgba(0, 134, 175, 0.74);
    opacity: 0;
    padding: 2em;
    color:white;
    font-weight: 600;   
}

.portfolio-item hi{
    color:  rgb(73, 220, 240);
}

#company1 .portfolio-item{
    height: 45em;
}
#company4 .portfolio-item{
    height: 70em;
}
#company5 .portfolio-item{
    height: 40em;
}
#company7 .portfolio-item, #company8 .portfolio-item{
    height: 23em;
}

#portfolio{
    padding: 2em 0 2em 0;
}
/* --------------------Testimonials----------------- */
#testimonials{
    background-color: rgb(0, 100, 131);
    padding: 2em;
}

#testimonials h1{
    color:rgb(197, 246, 255);
    font-weight: 600;
    margin-bottom: 0;
}
#testimonials h2{
    color:white;
    font-weight: 400;
}
.prev-testimonial, .next-testimonial{
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: 100;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    position: relative;
    margin-top: 5em;
}

/* Position the "next button" to the right */
.next-testimonial {
    right: 0;
    border-radius: 3px 0 0 3px;
    float: right;
}

.prev-testimonial{
    float: left;
}

/* On hover, add a black background color with a little bit see-through */
.prev-testimonial:hover, .next-testimonial:hover {
    background-color: rgba(0, 193, 252, 0.677);
}

.item-testimonial img{
    width:15em;
    height:15em;
    border:solid 0.4em  rgb(48, 111, 131);
    
}

.item-testimonial{
    padding: 1em 15em 1em 15em;
    color: rgb(199, 195, 195);
    margin: 0;
}
.dot-testimonial {
    cursor:pointer;
    margin: 0 2px;
    background-color: rgb(179, 237, 255);
    border: solid 0.1em white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   
}


.dot-testimonial img{
    height: 2em;
    width:2em;
}
.dot-testimonial img:focus, .dot-testimonial img:active, .dot-testimonial img:hover{
    height: 2.2em;
    width:2.2em;
}

#testimonials .content{
    margin-top: 0;
    padding: 0;
}

/*------------ subscribe-------------------- */

#subscribe{
    padding: 3em;
    
}
#subscribe .form-control{
    width:55%;
    
}
#subscribe .btn{
    width:25%;
}
#footer{
    padding: 3em;
    background-color:  rgb(0, 100, 131);;
    color:rgb(217, 254, 255);
}

#footer h1{
    color: rgb(197, 246, 255);
    font-weight: 800;
}


#footer .fab{
    font-size: 3em;
    padding: 0.7em;
    color: white;
}

#footer .fab:hover, #footer .fab:focus, #footer .fab:active{
    font-size: 3em;
    padding: 0.7em;
    color: rgb(134, 230, 236);
}

#copyright{
    width:100%;
    background-color: rgba(0, 64, 83, 0.596);
    padding: 1em;
    margin-top:2em;
}

#footer h5 a{
    color:rgb(217, 254, 255);
}

/* ------------------------About US------------------------- */
/* ------------overview-------------- */
#overview .jumbotron{
    background-image: url("../images/about_jumbotron_back.jpg");
    color: rgb(209, 207, 207);
    
}

.jumbotron .back-tint-about, .back-tint-services{
    padding: 3em;
}

.person img{
    height:auto;
    width:100%;
}

.person{
    background-color: rgb(0, 111, 145);
    float: left;
    padding: 1em;
    margin: 1em;
    width:30%;
}

.person-back{
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 1em;
}

.person-back h4, .person-back p{
    margin: 1em;
}

.person-back h4{
    color: rgb(25, 80, 97);
    font-weight: 400;
    margin-bottom: 0.4em;
    text-align: center;
}
.person-back h5{
    color: rgb(1, 136, 129);
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.person-back .social{
    font-size: 2em;
    margin-bottom: 0;
    padding: 0.5em;
    position: relative;
}
.social a{
    margin: 0 0.1em 0 0.1em;
}
#team h1 + p{
    font-size: 1.3em;
}

#team{
    padding-bottom: 2em;
}

#why_work_with_us{
    padding: 2em;
    
}

#why_work_with_us h1{
    color:rgb(3, 107, 126);
    font-weight: 600;
    text-align: center;
}
.reason{
    text-align: center;
    padding: 1em;
    background-color: rgb(0, 111, 145); 
     color:rgb(197, 246, 255);
     
}


#footer_about{
    padding: 2em;
    text-align: center;
    background-color: rgb(0, 111, 145); 
    color:rgb(197, 246, 255);
}

#footer_about span, #footer_services span{
    margin: 0 1em 0 1em;
}
#footer_about span a, #footer_services span a{
   color:rgb(197, 246, 255);
}

.row1 .col-md-3{
    height:20em;
    
}
.reason p{
    font-size: 1.15em;
}

#why_work_with_us .row{
    margin-bottom: 4em;
}

.back-tint-services{
    padding: 0;
}

#footer_services{
    color:rgb(197, 246, 255);
    background-color: rgb(0, 111, 145); 
    text-align: center;
    padding: 2em;
}
.tab-button{
    padding: 0.5em 2em 0.5em 2em;
    color:grey;
    font-size: 1.2em;
    font-weight: 400;
    width: 100%;
}

.tab-button:hover,.tab-button:focus,.tab-button:active, .tab-active {
    background-color: rgb(0, 111, 145);
    color: honeydew;
    
}
#vertical-tabs{
    padding-bottom: 2em;
}

.tab-navs{
    box-shadow: black 2px 0 10px 1px;
}

.tab-item h1{
   text-align: center;
   color:  rgb(0, 78, 102);
   font-weight: 600;
}

.tab-item{
    padding: 0 2em 2em 0;
       

}

.tab-button, .tab-navs{
    cursor: pointer;
}
blockquote{
    margin: 0;
    color:  rgb(53, 208, 255);
    font-size: 1em;
}
.tab-item p, .tab-item li{
    margin-left: 7em;
    font-size: 1.2em;
    margin-right: 7em;
}

.tab-item li{
    list-style: square;
    
}

.tab-item{
    display:none;  
}

#contact-wrapper h1{
    color:  rgb(0, 78, 102);
   font-weight: 600;
}
#contact-wrapper{
     padding-bottom: 2em;
}

#contact-wrapper p{
    font-size: 1.2em;
}

.contact-items li{
    list-style: none;
}

.contact-items{
    font-size: 1.2em;
    padding: 2em;
}

.contact-items h5{
    margin-left: 1.5em;
    font-size: 1.1em;
    margin-top: 3em;
}
.contact-content{
    padding: 5em 0 5em 0;
}
.contact-form{
    padding: 0 5em 0 5em;
   border-left: dotted rgb(0, 78, 102) 0.3em;
}

.contact-form .btn{
    margin-top: 1em;
    width:15%;
}
.error{
    font-size: 0.9em;
    color: red;
}

.success{
    color:green;
}

